





{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "dva": "dva-no-router"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory":"lib",
        "style": true // `style: true` 会加载 less 文件
      } 
    ],
    "transform-class-properties"
  ]
}
